/* src/sass/index.sass */
*,
html,
body {
  font-family: "poppins-regular";
  font-weight: 100;
}
a:focus,
a:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: rgb(26, 35, 126);
  border-color: rgb(26, 35, 126);
}
.btn-icon:hover {
  background-color: rgb(240, 241, 252) !important;
}
.drawer-toggles .drawer-toggler .btn {
  background-color: rgb(26, 35, 126);
  color: white;
}
.drawer-toggles .drawer-toggler .btn:focus,
.drawer-toggles .drawer-toggler .btn:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.card {
  border-radius: 0;
  border: none;
}
.card .card-body {
  background-color: rgb(240, 241, 252);
}
#frontpage-available-course-list h2 {
  margin-bottom: 30px;
}
.courses .coursebox {
  border-radius: 0 !important;
  border: 0 !important;
  background-color: #eee;
}
.courses .coursebox:hover {
  background-color: #e5e5e5;
}
.courses .coursebox .info .coursename {
  font-size: 1.15em;
}
.courses .coursebox .info .coursename a {
  font-family: "poppins-bold";
  color: rgb(22, 130, 125);
}
.drawer {
  background-color: white;
}
.drawer .drawertoggle {
  background-color: rgb(26, 35, 126);
  color: white;
  border-radius: 50%;
  height: 42px;
  width: 42px;
}
.drawer .drawertoggle:focus,
.drawer .drawertoggle:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.drawer.drawer-left {
  background-color: #f7f7f7;
}
.drawer.drawer-left .courseindex .courseindex-item {
  color: rgb(26, 35, 126);
}
.drawer.drawer-left .courseindex .courseindex-item:focus,
.drawer.drawer-left .courseindex .courseindex-item:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.drawer.drawer-left .courseindex .courseindex-item.pageitem {
  background-color: rgb(60, 147, 240);
  border-radius: 0;
}
.drawer.drawer-left .courseindex .courseindex-item.pageitem a {
  color: white;
}
.drawer.drawer-left .courseindex .courseindex-item a {
  color: rgb(26, 35, 126);
}
.drawer.drawer-left .courseindex .courseindex-item a:focus,
.drawer.drawer-left .courseindex .courseindex-item a:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.dropdown-menu {
  border-radius: 0;
  background-color: rgb(26, 35, 126);
  border: 0;
  margin-top: 0;
  color: white;
}
.dropdown-menu .dropdown-item,
.dropdown-menu .header {
  color: white !important;
}
.dropdown-menu .dropdown-item .btn-icon,
.dropdown-menu .header .btn-icon {
  background-color: white !important;
}
.dropdown-menu .dropdown-divider {
  border-top: 1px solid rgb(26, 35, 126);
}
.form-control,
.editor_atto_toolbar,
.custom-select {
  border-radius: 0 !important;
}
.input-group input.form-control {
  border-radius: 0 !important;
  border-color: rgb(26, 35, 126);
  color: rgb(26, 35, 126);
}
.input-group input.form-control::placeholder {
  color: rgb(118, 187, 255) !important;
  opacity: 1 !important;
}
.navbar.fixed-top,
.secondary-navigation .navigation {
  border-bottom: 1px solid rgb(26, 35, 126);
}
.navbar.fixed-top nav ul.nav li a,
.secondary-navigation nav ul.nav li a {
  font-family: "poppins-bold";
  color: rgb(26, 35, 126) !important;
}
.navbar.fixed-top nav ul.nav li a.active,
.secondary-navigation nav ul.nav li a.active {
  border-bottom-color: rgb(26, 35, 126);
}
.navbar.fixed-top nav ul.nav li.dropdown .dropdown-menu a,
.secondary-navigation nav ul.nav li.dropdown .dropdown-menu a {
  color: white !important;
}
.navbar.fixed-top nav .nav-tabs,
.secondary-navigation nav .nav-tabs {
  max-width: 1200px !important;
  margin: 0 auto;
}
.navbar.fixed-top #usernavigation .langmenu,
.navbar.fixed-top #usernavigation .usermenu,
.navbar.fixed-top #usernavigation .input-group,
.secondary-navigation #usernavigation .langmenu,
.secondary-navigation #usernavigation .usermenu,
.secondary-navigation #usernavigation .input-group {
  color: rgb(26, 35, 126);
}
.navbar.fixed-top #usernavigation .langmenu a,
.navbar.fixed-top #usernavigation .usermenu a,
.navbar.fixed-top #usernavigation .input-group a,
.secondary-navigation #usernavigation .langmenu a,
.secondary-navigation #usernavigation .usermenu a,
.secondary-navigation #usernavigation .input-group a {
  color: rgb(26, 35, 126);
  font-weight: bold;
}
.navbar.fixed-top #usernavigation .langmenu a:focus,
.navbar.fixed-top #usernavigation .langmenu a:focus-visible,
.navbar.fixed-top #usernavigation .usermenu a:focus,
.navbar.fixed-top #usernavigation .usermenu a:focus-visible,
.navbar.fixed-top #usernavigation .input-group a:focus,
.navbar.fixed-top #usernavigation .input-group a:focus-visible,
.secondary-navigation #usernavigation .langmenu a:focus,
.secondary-navigation #usernavigation .langmenu a:focus-visible,
.secondary-navigation #usernavigation .usermenu a:focus,
.secondary-navigation #usernavigation .usermenu a:focus-visible,
.secondary-navigation #usernavigation .input-group a:focus,
.secondary-navigation #usernavigation .input-group a:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.navbar.fixed-top #usernavigation .langmenu .userbutton .avatars .avatar .userinitials,
.navbar.fixed-top #usernavigation .usermenu .userbutton .avatars .avatar .userinitials,
.navbar.fixed-top #usernavigation .input-group .userbutton .avatars .avatar .userinitials,
.secondary-navigation #usernavigation .langmenu .userbutton .avatars .avatar .userinitials,
.secondary-navigation #usernavigation .usermenu .userbutton .avatars .avatar .userinitials,
.secondary-navigation #usernavigation .input-group .userbutton .avatars .avatar .userinitials {
  background: linear-gradient(180deg, rgb(251, 233, 231) 25%, rgb(118, 187, 255) 100%);
  color: rgb(26, 35, 126);
}
.navbar.fixed-top #usernavigation .nav-link:focus,
.navbar.fixed-top #usernavigation .nav-link:focus-visible,
.secondary-navigation #usernavigation .nav-link:focus,
.secondary-navigation #usernavigation .nav-link:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.navbar.fixed-top #usernavigation .input-group .text-primary,
.secondary-navigation #usernavigation .input-group .text-primary {
  color: rgb(26, 35, 126) !important;
}
.navbar.fixed-top #usernavigation .icon,
.secondary-navigation #usernavigation .icon {
  color: rgb(26, 35, 126);
}
.page-header-headings {
  color: rgb(26, 35, 126);
}
body.limitedwidth #page.drawers .main-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#page-header,
#page-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#page-header #region-main-box,
#page-content #region-main-box {
  margin-top: 40px;
}
#page-header #region-main-box #region-main h2,
#page-content #region-main-box #region-main h2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.popover {
  border-radius: 0;
  background-color: rgb(240, 241, 252);
  border: 0;
}
.popover .arrow::after {
  border-top-color: rgb(240, 241, 252);
}
.popover .popover-body {
  border-radius: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(26, 35, 126);
}
.punchy-infos {
  display: none;
  flex-flow: row wrap;
  border: 1px solid rgb(222, 226, 230);
  padding: 0.75em 1em;
  border-top: 0;
}
.punchy-infos.active {
  display: flex;
  border-radius: 0 0 3px 3px;
}
.punchy-infos.active .tr {
  display: flex;
  width: 100%;
  text-align: left;
  padding: 0.25em 0em;
  border-radius: 3px;
  transition: 0.5s;
}
.punchy-infos.active .tr:hover {
  background-color: rgb(240, 241, 252);
}
.punchy-infos.active .tr:hover .th {
  display: flex;
  align-items: center;
  font-weight: bold;
  min-width: 200px;
  width: 170px;
  background-color: rgb(240, 241, 252);
  border-radius: 3px;
  padding: 0.5em 1em;
  color: rgb(26, 35, 126);
}
.punchy-infos.active .tr:hover .td {
  flex-grow: 1;
  padding: 0.5em 1em;
}
