/* src/sass/index.sass */
*,
html,
body {
  font-family: "poppins-regular";
  font-weight: 100;
}
a:focus,
a:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.activityiconcontainer {
  border-radius: 10px;
  background: white !important;
  border-width: 3px;
  border-style: solid;
}
.activityiconcontainer.assessment {
  border-color: rgb(255, 112, 67);
  box-shadow: rgba(255, 112, 67, 0.25) 0px 2px 8px 0px;
}
.activityiconcontainer.collaboration {
  border-color: rgb(247, 201, 38);
  box-shadow: rgba(247, 201, 38, 0.25) 0px 2px 8px 0px;
}
.activityiconcontainer.communication {
  border-color: rgb(22, 130, 125);
  box-shadow: rgba(22, 130, 125, 0.25) 0px 2px 8px 0px;
}
.activityiconcontainer.content {
  border-color: rgb(60, 145, 230);
  box-shadow: rgba(60, 145, 230, 0.25) 0px 2px 8px 0px;
}
.activityiconcontainer .activityicon {
  filter: none !important;
}
.activity-item {
  background-color: rgb(240, 241, 252);
  border: 0 !important;
  border-radius: 10px;
}
.activity-item .activityname a {
  color: rgb(26, 35, 126);
}
.activity-item .activityname a .instancename {
  font-family: "poppins-bold";
}
.modtype_label .activity-item {
  background-color: white;
}
.btn {
  border-radius: 10px;
}
.btn-primary {
  background-color: rgb(26, 35, 126);
  border-color: rgb(26, 35, 126);
}
.btn-icon:hover {
  background-color: rgb(240, 241, 252) !important;
}
.btn-success {
  background-color: rgb(22, 130, 125);
  border-color: rgb(22, 130, 125);
}
.btn-success:hover {
  background-color: rgb(26, 35, 126);
  border-color: rgb(26, 35, 126);
}
.drawer-toggles .drawer-toggler .btn {
  background-color: rgb(26, 35, 126);
  color: white;
}
.drawer-toggles .drawer-toggler .btn:focus,
.drawer-toggles .drawer-toggler .btn:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.card {
  border-radius: 10px;
  border: none;
}
.card .card-body {
  background-color: rgb(240, 241, 252);
}
#frontpage-available-course-list h2 {
  margin-bottom: 30px;
}
.courses .coursebox {
  border-radius: 10px !important;
  border: 0 !important;
  background-color: #eee;
}
.courses .coursebox:hover {
  background-color: #e5e5e5;
}
.courses .coursebox .info .coursename {
  font-size: 1.15em;
}
.courses .coursebox .info .coursename a {
  font-family: "poppins-bold";
  color: rgb(22, 130, 125);
}
.drawer {
  background-color: white;
}
.drawer .drawertoggle {
  background-color: rgb(26, 35, 126);
  color: white;
  border-radius: 50%;
  height: 42px;
  width: 42px;
}
.drawer .drawertoggle:focus,
.drawer .drawertoggle:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.drawer.drawer-left {
  background-color: #f7f7f7;
}
.drawer.drawer-left .courseindex .courseindex-item {
  color: rgb(26, 35, 126);
}
.drawer.drawer-left .courseindex .courseindex-item:focus,
.drawer.drawer-left .courseindex .courseindex-item:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.drawer.drawer-left .courseindex .courseindex-item.pageitem {
  background-color: rgb(60, 147, 240);
  border-radius: 10px;
}
.drawer.drawer-left .courseindex .courseindex-item.pageitem .completioninfo .icon {
  color: white;
}
.drawer.drawer-left .courseindex .courseindex-item.pageitem .completioninfo.completion_complete .icon {
  color: rgb(252, 209, 66);
}
.drawer.drawer-left .courseindex .courseindex-item.pageitem a {
  color: white;
}
.drawer.drawer-left .courseindex .courseindex-item .completioninfo.completion_complete {
  color: rgb(22, 130, 125);
}
.drawer.drawer-left .courseindex .courseindex-item a {
  color: rgb(26, 35, 126);
}
.drawer.drawer-left .courseindex .courseindex-item a:focus,
.drawer.drawer-left .courseindex .courseindex-item a:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.dropdown-menu {
  border-radius: 0 0 10px 10px;
  background-color: rgb(26, 35, 126);
  border: 0;
  margin-top: 0;
  color: white;
}
.dropdown-menu .dropdown-item,
.dropdown-menu .header {
  color: white !important;
}
.dropdown-menu .dropdown-item .btn-icon,
.dropdown-menu .header .btn-icon {
  background-color: white !important;
}
.dropdown-menu .dropdown-divider {
  border-top: 1px solid rgb(26, 35, 126);
}
.form-control,
.editor_atto_toolbar,
.custom-select {
  border-radius: 10px !important;
}
.input-group input.form-control {
  border-radius: 10px !important;
  border-color: rgb(26, 35, 126);
  color: rgb(26, 35, 126);
}
.input-group input.form-control::placeholder {
  color: rgb(118, 187, 255) !important;
  opacity: 1 !important;
}
.navbar.fixed-top,
.secondary-navigation .navigation {
  border-bottom: 1px solid rgb(26, 35, 126);
}
.secondary-navigation .navigation {
  padding: 0 !important;
  margin: 0 calc(0.5rem + 15px) !important;
}
.navbar.fixed-top nav ul.nav li a,
.secondary-navigation nav ul.nav li a {
  font-family: "poppins-bold";
  color: rgb(26, 35, 126) !important;
}
.navbar.fixed-top nav ul.nav li a.active,
.secondary-navigation nav ul.nav li a.active {
  border-bottom-color: rgb(26, 35, 126);
}
.navbar.fixed-top nav ul.nav li.dropdown .dropdown-menu a,
.secondary-navigation nav ul.nav li.dropdown .dropdown-menu a {
  color: white !important;
}
.navbar.fixed-top nav .nav-tabs,
.secondary-navigation nav .nav-tabs {
  max-width: 1200px !important;
  margin: 0 auto;
}
.navbar.fixed-top #usernavigation .langmenu,
.navbar.fixed-top #usernavigation .usermenu,
.navbar.fixed-top #usernavigation .input-group,
.secondary-navigation #usernavigation .langmenu,
.secondary-navigation #usernavigation .usermenu,
.secondary-navigation #usernavigation .input-group {
  color: rgb(26, 35, 126);
}
.navbar.fixed-top #usernavigation .langmenu a,
.navbar.fixed-top #usernavigation .usermenu a,
.navbar.fixed-top #usernavigation .input-group a,
.secondary-navigation #usernavigation .langmenu a,
.secondary-navigation #usernavigation .usermenu a,
.secondary-navigation #usernavigation .input-group a {
  color: rgb(26, 35, 126);
  font-weight: bold;
}
.navbar.fixed-top #usernavigation .langmenu a:focus,
.navbar.fixed-top #usernavigation .langmenu a:focus-visible,
.navbar.fixed-top #usernavigation .usermenu a:focus,
.navbar.fixed-top #usernavigation .usermenu a:focus-visible,
.navbar.fixed-top #usernavigation .input-group a:focus,
.navbar.fixed-top #usernavigation .input-group a:focus-visible,
.secondary-navigation #usernavigation .langmenu a:focus,
.secondary-navigation #usernavigation .langmenu a:focus-visible,
.secondary-navigation #usernavigation .usermenu a:focus,
.secondary-navigation #usernavigation .usermenu a:focus-visible,
.secondary-navigation #usernavigation .input-group a:focus,
.secondary-navigation #usernavigation .input-group a:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.navbar.fixed-top #usernavigation .langmenu .userbutton .avatars .avatar .userinitials,
.navbar.fixed-top #usernavigation .usermenu .userbutton .avatars .avatar .userinitials,
.navbar.fixed-top #usernavigation .input-group .userbutton .avatars .avatar .userinitials,
.secondary-navigation #usernavigation .langmenu .userbutton .avatars .avatar .userinitials,
.secondary-navigation #usernavigation .usermenu .userbutton .avatars .avatar .userinitials,
.secondary-navigation #usernavigation .input-group .userbutton .avatars .avatar .userinitials {
  background: linear-gradient(180deg, rgb(251, 233, 231) 25%, rgb(118, 187, 255) 100%);
  color: rgb(26, 35, 126);
}
.navbar.fixed-top #usernavigation .nav-link:focus,
.navbar.fixed-top #usernavigation .nav-link:focus-visible,
.secondary-navigation #usernavigation .nav-link:focus,
.secondary-navigation #usernavigation .nav-link:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}
.navbar.fixed-top #usernavigation .input-group .text-primary,
.secondary-navigation #usernavigation .input-group .text-primary {
  color: rgb(26, 35, 126) !important;
}
.navbar.fixed-top #usernavigation .icon,
.secondary-navigation #usernavigation .icon {
  color: rgb(26, 35, 126);
}
.moremenu .nav-link {
  transition: all 0.25s !important;
}
.moremenu .nav-link:hover {
  margin-top: -1px;
}
.page-header-headings {
  color: rgb(26, 35, 126);
}
body.limitedwidth #page.drawers .main-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#page-header,
#page-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#page-header #region-main-box,
#page-content #region-main-box {
  margin-top: 40px;
}
#page-header #region-main-box #region-main h2,
#page-content #region-main-box #region-main h2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
#page-header .course-header-image {
  margin-bottom: 20px;
}
#page-header .course-header-image img {
  border-radius: 10px;
}
#page-header .page-context-header .page-header-headings h1,
#page-header .page-context-header .page-header-headings h2 {
  font-family: "poppins-bold";
}
.popover {
  border-radius: 10px;
  background-color: rgb(240, 241, 252);
  border: 0;
}
.popover .arrow::after {
  border-top-color: rgb(240, 241, 252);
}
.popover .popover-body {
  border-radius: 10px;
}
.sectionname a {
  font-family: "poppins-bold";
  color: rgb(26, 35, 126);
}
.single-section .section-navigation.navigationtitle {
  display: none !important;
}
.single-section .section-navigation .larrow,
.single-section .section-navigation .rarrow {
  position: relative;
  display: none;
}
.single-section .section-navigation .prevsection {
  position: relative;
  display: inline-flex;
  margin-left: 20px;
}
.single-section .section-navigation .prevsection::before {
  position: absolute;
  content: "<";
  height: 15px;
  width: 15px;
  left: -20px;
  font-family: "poppins-bold";
  font-size: 1.5em;
  line-height: 1em;
  color: rgb(26, 35, 126);
}
.single-section .section-navigation .prevsection a {
  color: rgb(26, 35, 126);
}
.single-section .section-navigation .nextsection {
  position: relative;
  display: inline-flex;
  margin-right: 20px;
}
.single-section .section-navigation .nextsection::after {
  position: absolute;
  content: ">";
  height: 15px;
  width: 15px;
  right: -20px;
  font-family: "poppins-bold";
  font-size: 1.5em;
  line-height: 1em;
  color: rgb(26, 35, 126);
}
.single-section .section-navigation .nextsection a {
  color: rgb(26, 35, 126);
}
.course-content .topics .section.course-section:not(#section-0) {
  border: 2px solid rgb(240, 241, 252);
  border-bottom-color: rgb(240, 241, 252);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-radius: 10px;
  -moz-box-shadow: 0 3px 8px rgba(176, 176, 176, 0.15);
  -webkit-box-shadow: 0 3px 8px rgba(176, 176, 176, 0.15);
  box-shadow: 0 3px 8px rgba(176, 176, 176, 0.15);
  padding: 1em;
  margin-top: 30px;
}
.course-content .single-section .section {
  border: 0 !important;
  background-color: white !important;
  box-shadow: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(26, 35, 126);
}
.punchy-infos {
  display: none;
  flex-flow: row wrap;
  border: 1px solid rgb(222, 226, 230);
  padding: 0.75em 1em;
  border-top: 0;
}
.punchy-infos.active {
  display: flex;
  border-radius: 0 0 10px 10px;
}
.punchy-infos.active .tr {
  display: flex;
  width: 100%;
  text-align: left;
  padding: 0.25em 0em;
  border-radius: 10px;
  transition: 0.5s;
}
.punchy-infos.active .tr:hover {
  background-color: rgb(240, 241, 252);
}
.punchy-infos.active .tr:hover .th {
  display: flex;
  align-items: center;
  font-weight: bold;
  min-width: 200px;
  width: 170px;
  background-color: rgb(240, 241, 252);
  border-radius: 10px;
  padding: 0.5em 1em;
  color: rgb(26, 35, 126);
}
.punchy-infos.active .tr:hover .td {
  flex-grow: 1;
  padding: 0.5em 1em;
}
