{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}
<div class="container-fluid mt-1 mt-md-5">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-xl-12">
            <div class="text-center">
                {{#logourl}}
                    <h2>
                        <img class="img-fluid" src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/>
                    </h2>
                {{/logourl}}
                {{^logourl}}
                    <h1>Créer un compte</h1>
                {{/logourl}}
                <hr>
            </div>

            {{{formhtml}}}
        </div>
    </div>
</div>
