.activity
    margin: 10px 0 !important
    &.hasinfo
        border-bottom: 0
    .activityinstance
        a
            color: $black
            font-weight: 100
            display: flex !important
            text-indent: none !important
            text-indent: 0px !important
            padding-left: 10px !important
            &:hover
                text-decoration: underline
                color: $main
                cursor: pointer
                color: $main
            .activityicon
                width: 34px
                height: 34px
            .instancename
                padding-left: 7px
                font-weight: bold
                line-height: 2.3em
    .contentafterlink
        color: $text-alt
        padding-left: 4px
    .mod-indent-outer
        display: flex
        .completion
            width: 24px
            line-height: 27px
    &.label
        &.modtype_label
            max-width: $md-breakpoint-width
    .aalink
        &:hover,
        &:focus,
        &:active
            background: transparent

// Activity Chooser
.chooser-container
    .tab-pane
        .option
            .optionname
                font-family: $main-font-semibold
                color: $black
