.header-navbar-container
    border-bottom: 1px solid $main

.frontpage-container
    color: $main
    font-size: 1.1em
    margin-top: 4em
    margin-bottom: 4em

#frontpage-banner
    margin-top: 80px
    @media (max-width: 768px)
        margin-top: 40px
    .slogan
        h1
            +semibold-text($color: $main, $size: 3.2rem)
            @media (max-width: 768px)
                +semibold-text($color: $main, $size: 2.5rem)
        p
            color: $main
            font-size: 1.1em
    .brand-bg
        +background-image($frontpage-img, $position-x: 50%, $position-y: 30%, $repeat: no-repeat, $size: contain)
        bottom: 0px
        box-sizing: border-box
        min-height: $brand-image-min-height
    
#page-site-index
    h2, h3
        color: $main
        font-weight: bold
    .jumbotron
        background-image: $jumbotron-img
        background-size: cover
        background-position: 50% 65%
        padding: 0
        .jumbotron-inner
            background-color: $jumbotron-inner
            padding: 4rem 2rem
            color: white

.home-block-container
    padding: 1.25rem
    .block
        padding: 1.25rem
