#page-login-index
    .card
        .card-body
            background-color: $main
            color: $white
            margin-top: 2em
            margin-bottom: 3em
            .btn
                &.btn-secondary
                    +button
                    -moz-appearance: none
                    background: $alt-blue
                    background-color: $alt-blue
                    border: none
                    border-radius: 0
                    color: $white
                    cursor: pointer
                    display: inline-block
                    font-size: 1rem
                    font-weight: 600
                    letter-spacing: 0.0333em
                    line-height: 1.25
                    margin: 0
                    opacity: 1
                    padding: 1.1em 1.44em
                    text-align: center
                    text-decoration: none
                    text-transform: uppercase
                    transition: opacity 0.15s linear
                    &:hover
                        background: $white
                        color: $alt-blue
            a.white
                &:hover
                    color: $light-blue2
            i.icon
                &:before
                    color: $light-blue2
    .loginerrors
        padding: 0 4.7em

#page-login-signup
    #page
        max-width: 1140px
        .mform
            margin-bottom: 70px
            fieldset
                padding-bottom: 50px
                legend
                    margin-bottom: 50px
            label
                color: $main
                font-weight: bold
            .form-control,
            .custom-select
                border-color: $main
                outline-style: none
                box-shadow: none
            .btn.btn-primary
                background: $main
                border: 3px solid $main
                color: #fff
