*
    font-family: $main-font-regular

.logo-un
    @include background-image(url([[pix:theme_univnumerique|logo-un]]), $position-x: 50%, $position-y: 100%, $repeat: no-repeat, $size: contain)
    height: 100px


.blue
    color: $main

.white
    color: $white

.underlined
    text-decoration: underline
