.activityiconcontainer
  border-radius: $border-radius
  background: white !important
  border-width: 3px
  border-style: solid
  &.assessment
    border-color: $assessment__color
    box-shadow: rgba(255, 112, 67, 0.25) 0px 2px 8px 0px
  &.collaboration
    border-color: $collaboration__color
    box-shadow: rgba(247, 201, 38, 0.25) 0px 2px 8px 0px
  &.communication
    border-color: $communication__color
    box-shadow: rgba(22, 130, 125, 0.25) 0px 2px 8px 0px
  &.content
    border-color: $content__color
    box-shadow: rgba(60, 145, 230, 0.25) 0px 2px 8px 0px
  .activityicon
    filter: none !important

.activity-item
  background-color: $pastel-purple
  border: 0 !important
  border-radius: $border-radius

  .activityname
    a
      color: $main-color
      .instancename
        font-family: $main-font-bold

.modtype_label
  .activity-item
    background-color: white
