.activityiconcontainer
  border-radius: $border-radius
  &.assessment
    background-color: $assessment__color
  &.collaboration
    background-color: $collaboration__color
  &.communication
    background-color: $communication__color
  &.content
    background-color: $content__color

.activity-item
  background-color: $pastel-purple
  border: 0 !important
  border-radius: $border-radius

  .activityname
    a
      color: $main-color
      .instancename
        font-family: $main-font-bold

.modtype_label
  .activity-item
    background-color: white
