.input-group
  input
    &.form-control
      border-radius: 0 !important
      border-color: $main-color
      color: $main-color
      &::placeholder
        color: $light-blue2 !important
        opacity: 1 !important
