.page-header-headings
  color: $main-color

body.limitedwidth
  #page.drawers
    .main-inner
      +container-max-size

#page-header,
#page-content
  +container-max-size

  #region-main-box
    margin-top: 40px
    #region-main
      h2
        margin-bottom: 30px

#page-header
  .course-header-image
    margin-bottom: 20px
    a
      display: flex
    img
      pointer-events: none
      border-radius: $border-radius
  .page-context-header
    .page-header-headings
      h1, h2
        font-family: $main-font-bold
