{{> theme_luniversitenumerique/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper" class="frontpage-wrapper">

    {{{ output.standard_top_of_body_html }}}
    {{> theme_luniversitenumerique/navbar }}
    {{> theme_luniversitenumerique/nav-drawer }}

    <div id="page" class="container-fluid">
        <div class="row">
            <div class="col-12 pt-3 pb-3 pl-md-4 pr-md-4 pl-lg-5 pr-lg-5">
                <div class="d-flex">
                    <div class="ml-auto">
                        {{{pageheadingbutton}}}
                    </div>
                    <div id="course-header">
                        {{{courseheader}}}
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="jumbotron-inner">
                <div class="container">
                    <h1 class="display-4">Des ressources éducatives libres pour tous</h1>
                    <p class="lead">Un outil au service des établissements d'enseignement supérieur et de recherche pour faciliter le développement des usages et de la mutualisation des ressources pédagogiques numériques.</p>
                </div>
            </div>
        </div>

        <div id="page-content" class="row">
            <div class="col-12 mt-4 p-0">
                <div class="home-block-container">
                    {{#hasblocks}}
                        <section class="container ml-auto mr-auto d-print-none">
                            <div class="col-12">
                                {{{ sidepreblocks }}}
                            </div>
                        </section>
                    {{/hasblocks}}
                </div>
            </div>
            <div id="region-main-box" class="col-12 p-0">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main">
                    <div class="container p-5">
                        {{#hasregionmainsettingsmenu}}
                            <div class="region_main_settings_menu_proxy"></div>
                        {{/hasregionmainsettingsmenu}}
                        {{{ output.course_content_header }}}
                        {{{ output.main_content }}}
                        {{{ output.activity_navigation }}}
                        {{{ output.course_content_footer }}}
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    {{{ output.standard_after_main_region_html }}}
    {{> theme_luniversitenumerique/footer }}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
});

M.util.js_pending('theme_boost/drawer');
require(['theme_boost/drawer'], function(drawer) {
    drawer.init();
    M.util.js_complete('theme_boost/drawer');
});
{{/js}}
