<nav class="frontpage-navbar navbar navbar-light navbar-expand moodle-has-zindex pl-0 pr-0">
    <a href="{{{ config.wwwroot }}}" class="navbar-brand">
        <img src="{{{logo-un}}}" alt="Logo Université Numérique" class="navbar-logo img-fluid">
    </a>

    <ul class="nav navbar-nav ml-auto mr-0">
        <!-- navbar_plugin_output -->
        <li class="nav-item">
            {{{ output.navbar_plugin_output }}}
        </li>
        <li class="nav-item">
            {{# output.secure_layout_language_menu }}
            <ul class="navbar-nav d-none d-md-flex">
                <!-- language_menu -->
                {{{ . }}}
            </ul>
            {{/ output.secure_layout_language_menu }}
        </li>
        <li class="nav-item">
            <a href="{{{ config.wwwroot }}}/login/index.php" alt="{{#str}} templates:connection, theme_luniversitenumerique {{/str}}" class="btn btn-un ml-2 ml-md-4 ml-lg-4">
                {{#str}} templates:connection, theme_luniversitenumerique {{/str}} <i class="fa fa-arrow-right pl-2"></i>
            </a>
        </li>
    </ul>
</nav>
