{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="frontpage-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div class="container-fluid header-navbar-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{>theme_luniversitenumerique/frontpage-navbar}}
                </div>
            </div>
        </div>
    </div>

    <div id="frontpage-banner" class="container-fluid">
        <div class="container">
            <div class="row heading">
                <div class="col-12 col-lg-5 mr-auto slogan">
                    <h1>
                        Plate-forme de formation de L'Université Numérique
                    </h1>
                    <p class="mt-5 mb-5">
                        &nbsp;
                    </p>
                    <p class="mb-5">
                        <a href="{{{ config.wwwroot }}}/login/index.php" alt="Connexion" class="btn-un">
                            Connexion <i class="fa fa-arrow-right pl-2"></i>
                        </a>
                    </p>
                </div>
                <div class="col-12 col-lg-7 brand-bg mt-5 mt-lg-0"></div>
            </div>
        </div>
    </div>

    {{#hasblocks}}
        <div class="container-fluid category-container">
            <div class="container">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="home-block-container px-0">
                            {{{ sidepreblocks }}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/hasblocks}}

    <div class="container-fluid">
        <div class="wrapper mt-5 pb-5">
            <div class="container">
                <div id="page-content" class="row">
                    <div id="region-hidden" class="col-12 d-none">
                        {{{ output.main_content }}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{{ output.standard_after_main_region_html }}}
</div>

{{> theme_luniversitenumerique/footer }}

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) { mod.init(); });
{{/js}}
