{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="frontpage-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div class="container-fluid header-navbar-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{>theme_luniversitenumerique/frontpage-navbar}}
                </div>
            </div>
        </div>
    </div>

    <div id="frontpage-banner" class="container-fluid">
        <div class="container">
            <div class="row heading">
                <div class="col-12 col-lg-5 mr-auto slogan">
                    <h1>
                        {{#str}} templates:slogan, theme_luniversitenumerique {{/str}}
                    </h1>
                    <p class="mt-5 mb-5">
                        {{#str}} templates:description, theme_luniversitenumerique {{/str}}
                    </p>
                    <p class="mb-5">
                        <a href="{{{ config.wwwroot }}}/login/index.php" alt="{{#str}} templates:connection, theme_luniversitenumerique {{/str}}" class="btn-un">
                            {{#str}} templates:connection, theme_luniversitenumerique {{/str}} <i class="fa fa-arrow-right pl-2"></i>
                        </a>
                    </p>
                </div>
                <div class="col-12 col-lg-7 brand-bg mt-5 mt-lg-0"></div>
            </div>
        </div>
    </div>

    {{#hasblocks}}
        <div class="container-fluid mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="home-block-container px-0">
                            {{{ sidepreblocks }}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/hasblocks}}

    <div class="container frontpage-container">
        <div class="row">
            <div class="col-12 col-lg-7 mr-auto px-3">
                <p class="mb-0">
                    {{#str}} templates:description_complement, theme_luniversitenumerique {{/str}}
                </p>
                <p>{{#str}} templates:guide, theme_luniversitenumerique {{/str}}</p>
                <div class="mt-5">
                    <a class="btn-un" href="/local/documentation/telechargement.php">{{#str}} templates:download_the_contents, theme_luniversitenumerique {{/str}}</a>
                </div>
            </div>
            <div class="col-8 col-lg-4 mx-auto d-none d-lg-block">
                <img src="{{{promo-un}}}" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="wrapper mt-5 pb-5">
            <div class="container">
                <div id="page-content" class="row">
                    <div id="region-hidden" class="col-12 d-none">
                        {{{ output.main_content }}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{{ output.standard_after_main_region_html }}}
</div>

{{> theme_luniversitenumerique/footer }}

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) { mod.init(); });
{{/js}}
